// Declare the original input file.
params {
  help = false
  min_subset_size = 20
  normalization_method = "guassian_quantile"
  max_depth = 3
  sample_size = false
  output_dir = "${baseDir}"
}


process {
  // Declare the conda environment to be used.
  conda = "$baseDir/pyenv.yaml"

  // Nextflow namespace for custom process parameters.
  // Future proofing for when these parameters are dynamic.
  ext {
    // Enable logging in the smasher.py script.
    logging = '-d'
    normal_kwargs = 'output_distribution=uniform'
    reduction = 'n_neighbors=15, min_dist=0.1, metric=manhattan, n_components=15'
    cluster = ''
    subset = ''
  }
}
